
<div id="popupDeleteDomain" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<script type="text/javascript">
function show_delete_popup(domain_id) {
  href = "{% url 'ping_me:ajax-delete-popup' domain_pk=12345 %}".replace('12345', domain_id);

  $.ajax({
    type: 'GET',
    url: href,
    success: function(data, textStatus, jqXHR) {
      $('#popupDeleteDomain').find('.modal-content').html(data);
      $('#popupDeleteDomain').modal('show');
    }
  });
}
</script>